/**{
  border: 1px solid black;
}*/

.ensemble{
  width: 70%;
  margin: auto;
}

.container {
  padding-top: 100px;
  width : 70%;
  margin: auto;
}

#summer, #winter {
  height: 30vw;
  max-height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;

}
#winter {
background-image: url("img/neige.jpg");
background-size: cover;
border-radius: 10px;

}

.boxsummer, .boxwinter{
padding: 10px;

}


#summer {
  background-image: url("img/Canicule.jpg");
  background-size: cover;
  border-radius: 10px;
}

.box{
padding: 10px;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8{
  height: 200px;
}

#p1, #p5{
  background-color: lightgreen;
}

#p2, #p6{
  background-color: orange;
}

#p3, #p7{
  background-color: red;
}
#p4, #p8{
  background-color: lightblue;
}

#conseil {
  height: 20px;
}
