/**{
  border: 1px solid black;
}*/


.container {
  padding-top: 100px;
  width : 70%;
  margin: auto;
}

.rowcat {
  padding : 10px !important;
  height:
}

#summer, #winter {
  height: 30vw;
  max-height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;

}
#winter {
background-image: url("img/neige.jpg");
background-size: cover;
border-radius: 10px;
}

.imgcat{
height: 100px;
background-color: white;

}
.img{
  height: 100px;
  width: auto;
  margin-left: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
}

.boxsummer, .boxwinter{
padding: 10px;
}

#summer {
  background-image: url("img/Canicule.jpg");
  background-size: cover;
  border-radius: 10px;
}

.box{
/*padding: 10px;*/
}

#p1, #p5,
#p2, #p6,
#p3, #p7,
#p4, #p8{
  height: 120px;
}

#conseil {
  height: 20px;
}

.txtcat1, .txtcat2, .txtcat3, .txtcat4 {
  background-color: #005EB8 !important;
  color: white;
  border-radius: 10px;
  padding-right: 20px !important;
}

h3 {
  text-align: center;
}
.text1 {
  margin-top: 20px;
}

.text1.p {
  text-align: center;
}
